---
import Layout from '../layouts/Layout.astro';

// @ts-ignore
console.log(Astro.url)
const currentPath = Astro.url.pathname;
const canonicalURL = new URL(Astro?.url?.host + Astro.url.pathname );
console.log('canonical', canonicalURL)

// @ts-ignore
export function getStaticPaths() {
  return [
    {params: { slug: 'test' }}
  ];
}

---

<Layout title={currentPath.replace(/^\/+/g, '').toUpperCase()}>
	<main>
        <h1 class="text-white">The current URL is: {Astro.url}</h1>
        <h1 class="text-white">The current URL pathname is: {Astro.url.pathname}</h1>
        <h1 class="text-white">The current URL origin is: {Astro.url.origin}</h1>

        <br />
        <p class="text-white">Go Back <a href="/">Home</a>.</p>
    </main>
</Layout>  
